# Rename to .env and set features as you'd like.

# The FilesHelper class reads in some influential environment
# variables to determine which files get read in by the
# demo. Although it's called a "demo" it's actually a
# pipeline.

# Here are some examples of influential environment variables.

# Example with some TD 'accounts', downloaded as CSV files.
# I wish this worked with dotenv-python ...
# TD_DATE=`date +"%d-%b-%Y"`
# TD_DATE=$(date)
# But no ... so we have to hard code the date here.

TD_DATE="11-Mar-2026"
PORTFOLIO_FILES="
/tmp/ABC123-holdings-${TD_DATE}.csv,
/tmp/BCD234-holdings-${TD_DATE}.csv,
/tmp/CDE345-holdings-${TD_DATE}.csv,
/tmp/DEF456-holdings-${TD_DATE}.csv,
/tmp/EFG567-holdings-${TD_DATE}.csv,
/tmp/FGH678-holdings-${TD_DATE}.csv"

TRANSACTIONS_CONFIGS_FILE=/tmp/my_transactions_configs.yaml
TARGETS_FILE=/home/redacted/targets.yaml

# Either of these two env vars will override other default options
# FORCE_DEMO_FILES=true
# FORCE_USER_FILES=true
